SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=cashew
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# AI model to use at startup: tflite | keras
ACTIVE_AI_MODEL=tflite
